* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

header {
  background: linear-gradient(135deg, #667eea, #764ba2 100%);
  color: white;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


main {
  padding-top: 80px;
}


header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}


header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}


header a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
  font-weight: 500;
  opacity: 1;
}


header a:hover,
header a.active {
  opacity: 0.8;
  font-weight: bold;
}



.logo {
  font-size: 1.5rem;
  font-weight: bolder;
}

.hero {
  background: linear-gradient(), url(...);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(148, 40, 107);
  margin-top: 70px;
}

.hero h1,
.hero-page h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(5, 9, 2, 7);
}

.hero-content,
.signup-section {
  width: 800px;
  margin: 0 auto;
  padding: 2rem;
  animation: fadeInUp 1s ease-in-out;
}

.btn-primary,
.btn-secondary {
  flex: 1 1 200px;
  max-width: 250px;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.btn-primary {
  background: #667eea;
  color: #fff;
}

.btn-secondary {
  background: #764ba2;
  color: #fff;
}

.btn-primary:hover, .btn-secondary:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.btn-primary::after, .btn-secondary::after{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    transform: rotate(45deg);
    transition: all 0.5 ease;
}

.btn-primary:hover::after, .btn-secondary:hover::after{
    top: -20px;
    left: -20px;
}

form fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

form legend{
    font-weight: bold;
    padding: 0 0.5rem;
}

form-group{
    margin-bottom: 1rem;
}


.form-group {
  margin-bottom: 1rem; 
}

/* Isso se aplica a todas as labels */
.form-group label {
  display: block; 
  margin-bottom: 0.25rem;
  font-weight: 600; 
}


.form-group input,
.form-group select,
.form-group textarea {
  width: 100%; 
  padding: 0.75rem 0.5rem; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit; 
  font-size: 1rem; 
}


.form-group textarea {
  min-height: 120px; 
  resize: vertical; 
}


.form-group select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background: white;
  padding-left: 2.5rem;
  }

.sucessMensage {
    display: none;
    margin-top: 1rem;
    color: green;
    font-weight: bold;
    text-align: center;

}


footer {
    text-align: center;
    padding: 2rem;
    background: white;
    margin-top: -3px;
}

#tabelaVoluntarios table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tabelaVoluntarios th,
#tabelaVoluntarios td {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    text-align: center;

}

#tabelaVoluntarios th{
    background-color: #667eea;
    color: white;
    font-family: 600;
}

#tabelaVoluntarios tr:nth-child(even){
    background-color: white;
}

#tabelaVoluntarios tr:hover{
    background-color: #e0e0ff;
}

#tabelaVoluntarios table{
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px rgba(0, 0, 0, 1);
}

#tabelaVoluntarios p{
    text-align: center;
    font-weight: 500;
    color: black;
    padding: 1rem;
}

